<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.

    -->
    <!-- Database connecting parameters -->
    <target xsi:type="Database"
            name="database_nlog"
            connectionString="data source=.\SQLEXPRESS;initial catalog=Northwind;integrated security=True;"
            commandText="INSERT INTO [dbo].[NLog_Error] ([TimeStamp],[ErrorLevel],[Logger],[Message],[Host],[Type],[Source],[Stacktrace],[Detail]) VALUES (@TimeStamp,@ErrorLevel,@Logger,@Message,@Host,@Type,@Source,@Stacktrace,@Detail)"
            >
      <parameter layout="${date}" name="@TimeStamp"/>
      <parameter layout="${level}" name="@ErrorLevel" />
      <parameter layout="${logger}" name="@Logger" />
      <parameter layout="${message}" name="@Message" />
      <parameter layout="${machinename}" name="@Host" />
      <parameter layout="${exception:format=type}" name="@Type" />
      <parameter layout="${callsite:className=true}" name="@Source" />
      <parameter layout="${exception:stacktrace}" name="@Stacktrace" />
      <parameter layout="${exception:format=tostring}" name="@Detail" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="database_nlog" />
  </rules>
</nlog>
