@model IEnumerable<Northwind.Entities.Models.Products>
@{
    ViewBag.Title = "Index";
}
<!--第二階段範例-->
<form id="myForm" name="myForm" action="" method="post">
    <label>MyTitle:</label><input type="text" id="MyTitle" name="MyTitle" /><br />
    <label>MyMoney:</label><input type="text" id="MyMoney" name="MyMoney" /><br />
    <input type="button" id="btn_Query" value="查詢" />
</form>
<!--第二階段範例-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table id="dt" class="table table-striped table-bordered display" cellspacing="0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>MyTitle</th>
                    <th>MyMoney</th>
                    <th>ActionButton</th>
                </tr>
            </thead>
            <!--第一階段範例-->
            <!--<tbody>
        <tr>
            <td>1</td>
            <td>Apple</td>
            <td>2000</td>
            <td>
                <button type="button">Edit</button>
                <button type="button">Delete</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Banana</td>
            <td>3000</td>
            <td>
                <button type="button">Edit</button>
                <button type="button">Delete</button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Cherry</td>
            <td>4000</td>
            <td>
                <button type="button">Edit</button>
                <button type="button">Delete</button>
            </td>
        </tr>
    </tbody>-->
            <!--第一階段範例-->
        </table>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            // 第一階段範例
            // #region DataTables Setup 
            // $("#dt").DataTable({  // 初始化 DataTable
            //     searching: false, // 關閉 Filter 功能
            //     columnDefs: [{    // 定義最後資料行無法排序
            //         targets: [3],
            //         orderable: false
            //     }]
            // });
            // 第一階段範例
            // 第二階段範例
            // ServerSide模式:點擊分頁、排序時，
            // DataTables會自動向Server端發出Ajax
          var table =  $("#dt").DataTable({
                serverSide: true, // 啟用 ServerSide 模式
                searching: false, // 關閉 Filter 功能
                deferLoading: 0, // 畫面一載入時不發出 ajax 撈資料
                processing: true, // 讀取資料時，出現「Processing...」字眼，jQuery blockUI 也有 http://malsup.com/jquery/block/#page
                "columns": [ // 指定 Server 端的資料行繫結名稱
                    { "data": "sysid" },
                    { "data": "MyTitle" },
                    { "data": "MyMoney" }
                ],
                ajax: { // ajax 參數在 1.9 版以前參數名稱為 sAjaxSource 
                    method: "get",
                    url: '@Url.Action("AjaxDataTable", "Products")',
                    data: function (d) { // data 參數要用 function 的方式設定，如此每次發出 Ajax 時才會重新抓表單裡的輸入值。
                        //d.MyTitle = $("#MyTitle").val();
                        //d.MyMoney = $("#MyMoney").val();
                        let formObject = $("#myForm").serialize();

                        //↓寫一行就好
                        $.extend(true, d, formObject);
                    }
              },
                // 預設值為：order: [[0, "asc"]]
                // 預設排序資料行(由 0 算起)
              order: [[0, "asc"]],

              // 關閉 orderMulti 參數 ("orderMulti": false)，因為會增加排序處理複雜度、資料處理時間
                orderMulti: false
            });

            $("#btn_Query").click(function () {
                 // 按下表單的查詢按鈕後才發出 Ajax 載入資料
                //table.ajax.reload();

                // draw：為了避免XSS攻擊，DataTables 傳遞什麼值，Server 端就跟著回傳什麼值
                 table.draw();
            });
            // 第二階段範例
        });
    </script>
}


